<!-- header-content -->
<div class="header-content">
    <h1>{{title}}</h1>
</div>

<!-- body-content -->
<div class="body-content">
    <span *ngIf="!articleService.articles">Il n'y a aucun article pour l'instant</span>
    <div *ngIf="articleService.articles" class="card-group">
        <div *ngFor="let article of articleService.articles" class="card">
            <div class="card-header">{{article.slug}}</div>
            <div class="card-body">
                <div class="card-block">
                    <div class="card-title">{{article.title}}</div>
                    <div class="card-text">{{article.content}}</div>
                </div>
                <div class="card-block" *ngFor="let category of article.categories">
                    <span class="label label-info">category.name</span>
                </div>
            </div>
            <div class="card-footer">{{article.updated_at | date:'dd/mm/yyy'}}</div>
        </div>
    </div>
</div>